[submodule "misskey-assets"]
	path = misskey-assets
	url = https://github.com/misskey-dev/assets.git
[submodule "fluent-emojis"]
	path = fluent-emojis
	url = https://github.com/misskey-dev/emojis.git
[submodule "packages/frontend/assets/koruri"]
	path = packages/frontend/assets/koruri
	url = https://github.com/koruri/koruri.git
