[submodule "misskey-assets"]
	path = misskey-assets
	url = https://github.com/misskey-dev/assets.git
[submodule "fluent-emojis"]
	path = fluent-emojis
	url = https://github.com/misskey-dev/emojis.git
[submodule "fonts/koruri"]
	path = fonts/koruri
	url = https://github.com/Koruri/Koruri.git
